<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chiibeii.ZiYanZiYu">

<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:name=".ui.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XieYiDian">
        <activity
            android:name=".ui.activity.MySetting"
            android:exported="false" />
        <activity
            android:name=".ui.activity.Login"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MyDraft"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MyTrash"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MyBlog"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MyStar"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BlogDetailedContent"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WriteBlog"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.chiibeii.ZiYanZiYu.ui.activity.EditProfile.userAvatar"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>


        <receiver android:name="RandomBlogWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/random_blog_widget_info" />
        </receiver>



    </application>

</manifest>